* {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);  
    margin-bottom: 64px;
}

.container { 
    max-width: 1140px; 
    margin: 0 auto; 
}

.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head_menu{
    display: flex;
    justify-content: space-between;
    List-style-type: none;
    padding-top: 42px;
}

.header{
    min-height: 500px;
    padding-top: 115px;
    flex-grow: 1;
    background-image: URL(img/top_img.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    margin-bottom: 60px;

}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head_one{
    width: 504px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;    
}

.p_header{
    width: 425px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.welcome_info{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.welcome_info_detail{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;   
}

.welcome_h3{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 32px 0px;
    
}

.head_two_contacts{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.head_three{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 32px 0px;
}

.finish_project_descpription{   
    margin: 32px auto 64px;
    width: 75%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    opacity: 1;
}

.hot_news{}

.hot_news_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px; 
}

.hot_news_item{
    position: relative;
    flex-grow: 1;
}
.hot_news_item_margin{
    margin-right: 32px;
}

.img_hot_news{
    width: 100%;
}

.hot_news_text{
    font-weight: 400;
    font-size: 32px;
    line-height: 0px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}


.hot_news_text_bottom{
    line-height: 0px;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    right: auto;
    text-align: left;
    left: 32px;
    top: 32px;
}

.img_prod{
    align-self: center;
    margin-bottom: 51px;
}

.head_four{   
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.p_learn_more{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0; 
    text-decoration: none;
}

.arrow{
    margin-left: 24px;
}

.input_field{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    
}

.p_prod{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.contacts_content{
    display: flex;
    
}

.btn_submit{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn_detail{
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 71px;  
}

.footer{
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.overline_footer{
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3_footer{
    min-width: 340px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.overline_footer_text{
    min-width: 495px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_bottom{
    font-size:16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

hr{
    opacity: 0.4;
}

.footer_contacts{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    padding-inline-start: 0px;  
}

.footer_list{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    margin-right: 32px;

}

.all_rights_reserved_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

.all_rights_reserved{
    margin-top: 64px;
}

@media (max-width:1024px){
    .container{
        padding-left: 32px;
        padding-right:  32px;
    }

    .header{
        padding-top: 36px;
        background-position: right 280px;
    }

    .welcome_info{
        flex-direction: column;
        align-items: center;
    }

    .welcome_info_detail{
        margin-bottom: 32px;
        min-width: 335px;
    }

    .footer{
        padding-top: 48px;
    }

    .footer_bottom{
        padding: 4px 31px;
    }
    .overline_footer{
        align-items: left;
        justify-content: left;
        margin-left: 124px;
    }

    .overline_footer_text{
        max-width: 336px;
        margin-right: 51px;
    }

    .footer_contacts{
        flex-direction: column;
        margin-left: 124px;
    }
}

@media (max-width:667px){
    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    
    .head-menu{
        padding-top: 24px;
    }

    .header{
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        margin-bottom: 0px;
        padding-top: 36px;
    }
    
    .head_one{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .p_header{
        width: 100%;
        text-align: center;
    }

    .btn_detail{
        min-width: 108px;
        min-height: 27px;
        font-size: 12px;
        line-height: 26px;
    }

    .welcome_h3, .head_three{
        font-size: 24px;
        line-height: 28px;
    }

    .welcome_info{
        padding-top: 0px;
        padding-bottom: 32px;
    }

    .welcome_info_detail{
        width: 100%;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .hot_news_text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .hot_news_parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .hot_news_text_bottom{
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .hot_news_item_margin{
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }
    
    .overline_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 16px;
        padding-bottom: 0px;
    }

    .overline_footer_info{
        margin: 0px 16px;
    }
    .h3_footer{
        min-width: 340px;
        text-align: center;
    }

    .overline_footer_text{        
        max-width: none;
        min-width: 300px;
        text-align: center;
        margin-right: 0px;
    }

    .footer_bottom{
        padding: 4px 8px;
        margin: 40px 0px;
    }
    
    .footer_contacts{
        flex-direction: column;
        margin-top: 32px;
        margin-left: 56px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    
    .footer_list{
        margin-bottom: 17px;
    }

    .all_rights_reserved{
       margin: 0px 16px;
    }

    .all_rights_reserved_text{
        text-align: center;
        margin-top: 0;
    }
}