body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

.top{
    background-color: aliceblue;
}

.container { 
    width: 1140px; 
    margin: 0 auto; 
}

.head_menu{
    display: flex;
    justify-content: space-between;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head_one{
    font-size: 64px;
    color: #1F3F68;
    width: 510;
}

.welcome_info{
    display: flex;
    justify-content: space-between;
}

.welcome_info_detail{
    width: 359px;
}

.head_two_contacts{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.head_three{
    font-size: 36px;
    text-align: center;
}

.head_four{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input_field{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    
}

.contacts_content{
    display: flex;
}

.btn_submit{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer_contacts{
    display: flex;
    justify-content: space-between;
}